*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #603f26;
  --secondary: #ffdbb5;
}

.transparent {
  opacity: 0.15;
}

body {
  background-color: var(--primary);
  width: 100vw;
  padding: 16px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

  .hero--container {
    height: 95vh;
    width: 100%;
    border-radius: 32px;

    .hero--content--container {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 32px;
      background-color: var(--secondary);

      .hero--background--image {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .hero--name--container {
        padding: 32px 0;
        width: 100%;
        position: relative;

        h1 {
          font-family: "Teko", sans-serif;
          color: var(--primary);
          font-size: 16rem;
          line-height: 11.5rem;
          text-align: center;
          user-select: none;
          transition: margin-top 1s ease-out, opacity 1s ease-out;

          @starting-style {
            margin-top: 50vh;
            opacity: 0;
          }
        }
      }

      .profile {
        position: absolute;
        height: 100%;
        object-fit: contain;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-out;
        user-select: none;
        @starting-style {
          margin-left: -64px;
          opacity: 0;
        }
      }

      .profile:nth-child(1) {
        z-index: 3;
      }

      .profile:nth-child(2) {
        left: 49%;
        z-index: 2;
        opacity: 0.5;
      }

      .profile:nth-child(3) {
        z-index: 1;
        left: 48%;
        opacity: 0.25;
      }

      .hero--quote--socials--container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 32px;
        width: 25%;
        color: var(--primary);
        display: flex;
        flex-direction: column;
        gap: 8px;
        transition: all 1s ease-out;

        .hero--socials--container {
          display: flex;
          gap: 12px;
          a {
            height: 32px;
            width: 32px;
            text-decoration: none;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
        @starting-style {
          left: -25%;
        }
      }

      .hero--about--container {
        position: absolute;
        bottom: 32px;
        right: 32px;
        z-index: 5;
        width: 25%;
        text-align: end;
        color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;
        transition: all 1s ease-out;

        a {
          height: fit-content;
          width: fit-content;
          position: relative;
          img {
            height: 32px;
            width: 32px;
            transition: all 0.5s ease-out;
          }
        }

        a:hover {
          img {
            rotate: 360deg;
            scale: 1.1;
          }
        }

        @starting-style {
          right: -25%;
        }
      }
    }
  }

  .navigation--container {
    display: flex;
    gap: 64px;
    justify-content: center;
    padding: 16px;

    a {
      text-decoration: none;
      color: var(--secondary);
    }

    a:hover {
      scale: 1.2;
      rotate: 8deg;
    }
  }

  .back--to--top {
    z-index: 10000;
    position: sticky;
    top: 16px;

    a {
      text-decoration: none;
      color: var(--secondary);

      button {
        border-radius: 100%;
        border: none;
        height: 32px;
        width: 32px;
        background-color: var(--primary);
        vertical-align: middle;
        margin-right: 4px;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .about--container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--secondary);

    .about--me--header {
      font-size: 5rem;
      font-family: "Teko", sans-serif;
    }

    .about--me--content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      p {
        text-align: justify;
        line-height: 24px;
      }

      img {
        height: 16rem;
        width: 16rem;
        float: right;
        margin: 8px;
        opacity: 0.95;
      }
    }
  }

  .works--container {
    padding: 32px 0;
    margin: auto;

    h1 {
      text-align: center;
      color: var(--secondary);
      font-family: "Teko", sans-serif;
      font-size: 5rem;
    }

    .swiper {
      width: 100%;
      margin: 32px 0;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 8px;
        }
      }
    }
  }

  .experience--container {
    margin: auto;
    max-width: 768px;
    color: var(--secondary);

    h1 {
      font-size: 5rem;
      font-family: "Teko", sans-serif;
    }

    .experience--header {
      text-align: end;
    }

    .experience--skills--container {
      margin-top: 32px;
      .skills--container {
        display: flex;
        flex-wrap: wrap;
        gap: 64px;

        .skills--card--container {
          display: flex;
          gap: 8px;

          .skills--card {
            height: 248px;
            width: 248px;
            background-color: var(--secondary);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--primary);
            padding: 8px;
            flex-shrink: 0;

            img {
              height: 50%;
              width: 50%;
              object-fit: contain;
            }

            h1 {
              font-size: 2.5rem;
            }
          }
        }

        .skills--info {
          p {
            line-height: 32px;
            font-size: 1.5rem;
          }

          p:not(.text--end) {
            text-align: justify;
          }
        }
      }
    }
    .experience--work--container {
      margin-top: 32px;

      h1 {
        text-align: center;
      }

      ul {
        margin-left: 32px;
        li {
          font-size: 1.5rem;
          margin-bottom: 8px;
        }
      }
    }
  }

  .contact--container {
    width: 100%;
    background-color: var(--secondary);
    border-radius: 16px;
    margin-top: 32px;
    overflow: hidden;
    position: relative;
    color: var(--primary);

    .contact--background--image {
      opacity: 0.5;
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 0;
    }

    .contact--content--container {
      z-index: 1;
      position: relative;
      max-width: 768px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);

      h1 {
        font-family: "Teko", sans-serif;
        font-size: 5rem;
      }

      .contact--content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        div {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 32px;

          img {
            height: 64px;
            width: 64px;
          }

          a {
            text-decoration: none;
            color: var(--primary);
            font-size: 1.5rem;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 2px;
          }
        }
      }
    }
    .watermark {
      float: right;
      margin: 16px;
    }
  }
}
