*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #603f26;
  --secondary: #ffdbb5;
}

.transparent {
  opacity: 0.15;
}

body {
  background-color: var(--primary);
  width: 100vw;
  padding: 16px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body .hero--container {
  height: 95vh;
  width: 100%;
  border-radius: 32px;
}
body .hero--container .hero--content--container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  background-color: var(--secondary);
}
body .hero--container .hero--content--container .hero--background--image {
  position: absolute;
  width: 100%;
  height: 100%;
}
body .hero--container .hero--content--container .hero--name--container {
  padding: 32px 0;
  width: 100%;
  position: relative;
}
body .hero--container .hero--content--container .hero--name--container h1 {
  font-family: "Teko", sans-serif;
  color: var(--primary);
  font-size: 16rem;
  line-height: 11.5rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: margin-top 1s ease-out, opacity 1s ease-out;
}
@starting-style {
  body .hero--container .hero--content--container .hero--name--container h1 {
    margin-top: 50vh;
    opacity: 0;
  }
}
body .hero--container .hero--content--container .profile {
  position: absolute;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@starting-style {
  body .hero--container .hero--content--container .profile {
    margin-left: -64px;
    opacity: 0;
  }
}
body .hero--container .hero--content--container .profile:nth-child(1) {
  z-index: 3;
}
body .hero--container .hero--content--container .profile:nth-child(2) {
  left: 49%;
  z-index: 2;
  opacity: 0.5;
}
body .hero--container .hero--content--container .profile:nth-child(3) {
  z-index: 1;
  left: 48%;
  opacity: 0.25;
}
body .hero--container .hero--content--container .hero--quote--socials--container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
  width: 25%;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 1s ease-out;
}
body .hero--container .hero--content--container .hero--quote--socials--container .hero--socials--container {
  display: flex;
  gap: 12px;
}
body .hero--container .hero--content--container .hero--quote--socials--container .hero--socials--container a {
  height: 32px;
  width: 32px;
  text-decoration: none;
}
body .hero--container .hero--content--container .hero--quote--socials--container .hero--socials--container a img {
  height: 100%;
  width: 100%;
}
@starting-style {
  body .hero--container .hero--content--container .hero--quote--socials--container {
    left: -25%;
  }
}
body .hero--container .hero--content--container .hero--about--container {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 5;
  width: 25%;
  text-align: end;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  transition: all 1s ease-out;
}
body .hero--container .hero--content--container .hero--about--container a {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
body .hero--container .hero--content--container .hero--about--container a img {
  height: 32px;
  width: 32px;
  transition: all 0.5s ease-out;
}
body .hero--container .hero--content--container .hero--about--container a:hover img {
  rotate: 360deg;
  scale: 1.1;
}
@starting-style {
  body .hero--container .hero--content--container .hero--about--container {
    right: -25%;
  }
}
body .navigation--container {
  display: flex;
  gap: 64px;
  justify-content: center;
  padding: 16px;
}
body .navigation--container a {
  text-decoration: none;
  color: var(--secondary);
}
body .navigation--container a:hover {
  scale: 1.2;
  rotate: 8deg;
}
body .back--to--top {
  z-index: 10000;
  position: sticky;
  top: 16px;
}
body .back--to--top a {
  text-decoration: none;
  color: var(--secondary);
}
body .back--to--top a button {
  border-radius: 100%;
  border: none;
  height: 32px;
  width: 32px;
  background-color: var(--primary);
  vertical-align: middle;
  margin-right: 4px;
  cursor: pointer;
}
body .back--to--top a button img {
  height: 100%;
  width: 100%;
}
body .about--container {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: var(--secondary);
}
body .about--container .about--me--header {
  font-size: 5rem;
  font-family: "Teko", sans-serif;
}
body .about--container .about--me--content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
body .about--container .about--me--content p {
  text-align: justify;
  line-height: 24px;
}
body .about--container .about--me--content img {
  height: 16rem;
  width: 16rem;
  float: right;
  margin: 8px;
  opacity: 0.95;
}
body .works--container {
  padding: 32px 0;
  margin: auto;
}
body .works--container h1 {
  text-align: center;
  color: var(--secondary);
  font-family: "Teko", sans-serif;
  font-size: 5rem;
}
body .works--container .swiper {
  width: 100%;
  margin: 32px 0;
}
body .works--container .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .works--container .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
body .experience--container {
  margin: auto;
  max-width: 768px;
  color: var(--secondary);
}
body .experience--container h1 {
  font-size: 5rem;
  font-family: "Teko", sans-serif;
}
body .experience--container .experience--header {
  text-align: end;
}
body .experience--container .experience--skills--container {
  margin-top: 32px;
}
body .experience--container .experience--skills--container .skills--container {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
body .experience--container .experience--skills--container .skills--container .skills--card--container {
  display: flex;
  gap: 8px;
}
body .experience--container .experience--skills--container .skills--container .skills--card--container .skills--card {
  height: 248px;
  width: 248px;
  background-color: var(--secondary);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  padding: 8px;
  flex-shrink: 0;
}
body .experience--container .experience--skills--container .skills--container .skills--card--container .skills--card img {
  height: 50%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .experience--container .experience--skills--container .skills--container .skills--card--container .skills--card h1 {
  font-size: 2.5rem;
}
body .experience--container .experience--skills--container .skills--container .skills--info p {
  line-height: 32px;
  font-size: 1.5rem;
}
body .experience--container .experience--skills--container .skills--container .skills--info p:not(.text--end) {
  text-align: justify;
}
body .experience--container .experience--work--container {
  margin-top: 32px;
}
body .experience--container .experience--work--container h1 {
  text-align: center;
}
body .experience--container .experience--work--container ul {
  margin-left: 32px;
}
body .experience--container .experience--work--container ul li {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
body .contact--container {
  width: 100%;
  background-color: var(--secondary);
  border-radius: 16px;
  margin-top: 32px;
  overflow: hidden;
  position: relative;
  color: var(--primary);
}
body .contact--container .contact--background--image {
  opacity: 0.5;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 0;
}
body .contact--container .contact--content--container {
  z-index: 1;
  position: relative;
  max-width: 768px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
body .contact--container .contact--content--container h1 {
  font-family: "Teko", sans-serif;
  font-size: 5rem;
}
body .contact--container .contact--content--container .contact--content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .contact--container .contact--content--container .contact--content div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
body .contact--container .contact--content--container .contact--content div img {
  height: 64px;
  width: 64px;
}
body .contact--container .contact--content--container .contact--content div a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
}
body .contact--container .watermark {
  float: right;
  margin: 16px;
}/*# sourceMappingURL=styles.css.map */